# Editor settings
.vscode
.claude/

# Python
__pycache__
.venv/
dist/

# Build
/typeagent.egg-info

# Auth files (env vars for secrets)
.env
/demo/env

# query.py
.ui_history

# Databases
*.db*

# Serialized data in root folder
/*_data.json
/*_embeddings.bin

# pytest configuration
pytest.local.ini

# Coverage
.coverage
.coverage.*

# Evaluations
/evals
/tests/testdata/Episode_53_Answer_results.json
/tests/testdata/Episode_53_Search_results.json

# Email demo
/tools/gmail/client_secret.json
/tools/gmail/token.json
*_dump/

# Monty Python demo
/examples/testdata/MP

# Momex
momex_data/
test.py
